:root {
    --primary: #0B72EC;
    --secondary: #EBF0FF;
    --accent: #F14C4C;
    --bg-primary: #fcfcfc;
    --text-primary: #141517;
}

body{
    background-color:var(--bg-primary);
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
}

h5 {
    font-weight: 700;
    font-size: 1.25rem;
}

h6 {
    font-weight: 600;
}

h5 a {
    color: var(--bg-primary);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
}

hr {
    color: #CCCCCC !important;
    opacity: 0.3;
}

nav {
    line-height: 60px;
    background-color: var(--bg-primary);
}

.brand-logo {
    color: var(--primary);
    font-weight: 600;
}

nav .brand-logo {
    color: var(--primary);
    font-weight: 600;
}

.nav-items {
    background-color: var(--secondary);
    color: var(--primary);
    margin: 0.75rem;
    line-height: 36px;
    height: 2.5rem;
    padding: 0 25px;
    border-radius: 300px;
    font-weight: 600;
}

a {
    color: var(--primary);
    font-weight: 600;
}

footer ul li {
    padding: 6px 0;
}

footer ul li a {
    font-weight: 500;
}

footer ul li a i {
    font-size: 1.25rem;
    padding-right: 6px;
}

/* =============== Home Page Slider ============= */
.slider .indicators .indicator-item {
    height: 10px;
    width: 10px;
}

.slider .indicators .indicator-item.active {
    background-color: var(--primary);
}

.slider .slides li .caption {
    color: var(--bg-primary);
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
}

.caption h4 {
    margin-top: 0;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}


.slider-text {
    color: var(--bg-primary);
    text-shadow: 2px 2px 5px black;
}

/* ============================================= */

/* ================= Search Box ================ */
#search-package h5 {
    padding-top: 1.25rem;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary);
}

#search-package {
    margin: auto 15%;
    margin-top: -8rem;
    z-index: 10;
    width: 70%;
}

#search-package .row {
    margin-bottom: 0;
}

#search-package .row .col {
    padding: 0;
}

#search-package .row .col:nth-child(2) {
    font-size: 1.25rem;
    padding-top: 1.55rem;
    color: #CCCCCC;
}

#search-package-btn {
    margin-bottom: -1.5rem;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    background-color: var(--bg-primary);
}
/* ====================================== */

/* ============== Buttons =============== */
.btn-primary {
    background-color: var(--primary);
    padding: 10px 25px;
    border-radius: 300px;
    border: 2px solid var(--primary);
    text-shadow: none;
    font-weight: 500;
    color: var(--bg-primary);
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--bg-primary);
    color: var(--primary);
    font-weight: 600;
    transition: 0.5s ease;
}

.btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary);
    padding: 10px 25px;
    border-radius: 300px;
    border: 2px solid var(--primary);
    text-shadow: none;
    font-weight: 500;
    cursor: pointer;
}

.btn-secondary:hover {
    box-shadow: 1px 1px 2px rgb(0 0 0 / 45%);
}

.btn-accent {
    background-color: var(--accent);
    color: var(--bg-primary);
    padding: 8px 20px;
    border-radius: 300px;
    border: none;
    text-shadow: none;
    font-weight: 400;
    cursor: pointer;
}

.btn-accent:hover {
    box-shadow: 1px 1px 2px rgb(0 0 0 / 45%);
}

button:focus {
    background-color: var(--primary);
    color: var(--bg-primary);
}
/* ====================================== */

/* ============== Covid Container =============== */
.covid-container {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--secondary);
}

.covid-container .row {
    margin-bottom: 0;
}

.covid-boxes {
    display: flex; 
    justify-content: space-evenly;
    margin: 0px 0;
}

.covid-box {
    height: 122px;
    width: 122px;
    border-radius: 5px;
    padding: auto;
}

.covid-rules {
    height: 124px;
    display: flex;
    align-items: center;
    text-align: center;
}

.covid-rules h5 {
    margin-left: 1rem;
    font-size: 1.125rem;
}
/* ====================================== */

.package-card .card-image img {
    border-radius: 8px 8px 0 0;
}

.package-card h6 {
    font-weight: 800;
}

.package-card span {
    font-weight: 400;
    font-size: 0.95rem;
}

.form-container {
    background-color: var(--secondary);
    padding: 1.5rem 3.5rem;
    border-radius: 8px;
    padding-bottom: 50px;

}

.form-container span {
    font-weight: 500;
}
/* 
.datepicker-date-display {
    background-color: var(--primary);
} */

.datepicker-controls .select-wrapper input {
    border: none !important;
    width: 50px !important;
    text-indent: 0 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: var(--primary);
    font-weight: 500;
}

.datepicker-done {
    background-color: var(--secondary);
}


.page-footer {
    background-color: #141517;
}

#login-form, #signup-form {
    background-color:  var(--secondary);
    padding: 50px;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
}


/* ====================================== */

/* =========== Input Fields =========== */

input[type=text]:not(.browser-default), 
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default), 
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default), 
input[type=password]:not(.browser-default):focus:not([readonly])  {
	width: 80%;
	color: var(--text-primary);
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: none;
    border-radius: 100px;
    background-color: var(--bg-primary);
    text-indent: 16px;
    font-weight: 500;
}

input.valid[type=text]:not(.browser-default),
input.valid[type=email]:not(.browser-default),
input.valid[type=password]:not(.browser-default) {
    box-shadow: none;
    border: 2px solid var(--primary);
}

input[type=text]:not(.browser-default)+label, 
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=text]:not(.browser-default).validate+label,
input[type=email]:not(.browser-default)+label, 
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default).validate+label,
input[type=password]:not(.browser-default)+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default).validate+label {
	color: var(--text-primary);
    width: 60%;
    font-weight: 500;
    font-size: 1rem;
    left: 20%;
    margin-top: 2px;
}

#input-from > label:not(.label-icon).active,
#input-to > label:not(.label-icon).active {
    width: 30% !important;
    transform: translateY(-14px) scale(0.8);
    transform-origin: 0px 0px;
    background-color: var(--bg-primary);
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.45) !important;
}

.input-field > label:not(.label-icon).active {
    color: rgba(0, 0, 0, 0) !important;
    transition: 0.3s ease;
}

.input-field > label:not(.label-icon).active i {
    display: none;
}

label i {
    color: #CCCCCC;
    font-size: 1rem;
    padding: 3.5px;
}

#input-from > label i,
#input-to > label i {
    color: #CCCCCC;
    font-size: 1rem;
    padding: 5px;
}

#from-city, #destination-city {
    font-weight: 700;
    font-size: 1.25rem;
    text-indent: 14px;
    width: 70%;
}

#from-city+label, #destination-city+label {
    color: var(--text-primary);
    width: 60%;
    font-weight: 700;
    font-size: 1.25rem;
    left: 20%;
    margin-top: 0;
}

/* ================ Package Details =============== */
.package-name {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.container .row .pimg{
    height:365px;
    width:100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

#bottom-left{
    margin-top: -4rem;
    color: var(--secondary);
    margin-left: 2rem;
    font-size: 0.95rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}

#price{
    background-color: var(--secondary);
    border-radius: 8px;
    padding: 15px;
}

#price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.booking-window{
    background-color: var(--bg-primary);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    margin-left: 0px;
    padding: 10px;
    text-align: center;
}
/* 
.container  .dates{
    background-color: var(--secondary);
    border-radius: 50px;
    padding:8px;
    color: black;
} */

#package-inc {
    background-color: var(--secondary);
    margin-top: 2.5rem;
    padding:10px;
    width: 100%;
    border-radius: 8px;
    /* margin-left: 8px; */
    /* padding-right: 0px; */
    
}
#package-inc .icon img {
    height: 2.5rem;
}

#package-inc span {
    font-weight: 500;
}

.tabs .tab a{
    color:var(--text-primary);
} 

.tabs .tab a:hover {
    background-color:var(--bg-primary);
    color:var(--text-primary);
} 

.tabs .tab a.active {
    color:var(--primary);
} 

.tabs .indicator {
    background-color:var(--primary);
}




#tab-image{
    border-radius: 8px;
    margin-top: 18px;
    height: 15rem;
}

#swipe-card{
    margin: 15px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* timeline style */
.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: var(--text-primary);
  }
  .timeline:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 80%;
    background: var(--text-primary);
  }
  .timeline .timeline-container {
    position: relative;
    margin: 2rem 0.5rem;
  }
  .timeline .timeline-container .timeline-icon {
    position: absolute;
    left: -88px;
    top: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    background: #4f537b;
  }
  .timeline .timeline-container .timeline-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .timeline .timeline-container .timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .timeline .timeline-container .timeline-body {
    background: var(--bg-primary);
    border-radius: 3px;
    padding: 20px 20px 15px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  }
  .timeline .timeline-container .timeline-body:before {
    content: "";
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
  }
  .timeline .timeline-container .timeline-body .timeline-title {
    margin-bottom: 1.4rem;
  }
  .timeline .timeline-container .timeline-body .timeline-title .day-badge {
    background: var(--primary);
    color: var(--bg-primary);
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
  }
  .timeline .timeline-container .timeline-body .timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: 0.4;
    margin-top: 16px;
    font-size: 11px;
  }
  .timeline .timeline-container.primary .badge,
  .timeline .timeline-container.primary .timeline-icon {
    background: #1d8cf8 !important;
  }
  .timeline .timeline-container.info .badge,
  .timeline .timeline-container.info .timeline-icon {
    background: #11cdef !important;
  }
  .timeline .timeline-container.success .badge,
  .timeline .timeline-container.success .timeline-icon {
    background: #00bf9a !important;
  }
  .timeline .timeline-container.warning .badge,
  .timeline .timeline-container.warning .timeline-icon {
    background: #ff8d72 !important;
  }
  .timeline .timeline-container.danger .badge,
  .timeline .timeline-container.danger .timeline-icon {
    background: #fd5d93 !important;
  }


/* =============================================== */


/* =============== Media Queries ================= */
@media (min-width: 769px) {
    .slider .slides {
        width: 80%;
        background-color: rgba(118, 154, 190, 0.0);
        margin-top: 14px;
    }

    .slider .slides li img {
        width: 80%;
        border-radius: 8px;
    }
}

@media (max-width: 768px) {
    #search-package h5 {
        padding-top: 1rem;
    }
    
    #search-package {
        margin: auto 5%;
        margin-top: -8rem;
        z-index: 10;
        width: 90%;
    }
    
    #search-package .row {
        margin-bottom: 0;
    }
    
    #search-package .row .col {
        padding: 0;
    }
    
    #search-package .row .col:nth-child(2) {
        font-size: 1.25rem;
        padding-top: 0rem;
        color: #CCCCCC;
    }
    
    #search-package-btn {
        margin-bottom: -1.5rem;
    }

    .covid-boxes {
        margin-bottom: 24px;
    }

    .covid-rules {
        display: block;
        height: auto;
    }

    .package-card .card-image img {
        width: 84vw;
    }

    .form-container {
        padding: 1.5rem 1.5rem;
    }

    #login-form, #signup-form {
        padding: 50px 0;
    }

    .container .row .pimg {
        height: 192px;
        margin-bottom: 2.5rem;
    }

    .input-field > label:not(.label-icon).active {
        width: 30% !important;
        transform: translateY(-14px) scale(0.7);
    }
}

body::-webkit-scrollbar, ul::-webkit-scrollbar {
    width: 0.35rem;
}
  
body::-webkit-scrollbar-track {
    background: #CCCCCC;
}
  
body::-webkit-scrollbar-thumb {
    background: var(--primary);
}