:root {
    --primary: #E46F44;
    --secondary: #1A385A;
    --primary-light: #E8AA9B;
    --secondary-light: #769ABE;
}

body{
    background-color:#fbfbfb;
    font-family: 'Inter', sans-serif;
}

nav {
    line-height: 60px;
    background-color: #fbfbfb;
}

nav .brand-logo {
    color: var(--secondary);
}

.slider .indicators .indicator-item {
    height: 10px;
    width: 10px;
}

.slider .indicators .indicator-item.active {
    background-color: var(--secondary);
}

.slider .slides li .caption {
    color: #fbfbfb;
    position: absolute;
    top: 40%;
    left: 15%;
    width: 70%;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
}

.slider-text {
    color: #fbfbfb;
    text-shadow: 2px 2px 5px black;
}

.nav-items {
    background-color: rgba(118, 154, 190, 0.3);
    color: var(--secondary);
    margin: 0.75rem;
    line-height: 36px;
    height: 2.5rem;
    padding: 0 25px;
    border-radius: 300px;
    font-weight: 700;
}

.btn-primary {
    background-color: var(--primary);
    padding: 10px 25px;
    border-radius: 300px;
    border: 2px solid var(--primary);
    text-shadow: none;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #fbfbfb;
    color: var(--secondary);
    font-weight: 600;
}

.btn-secondary {
    color: var(--primary);
    padding: 0 25px;
    border-radius: 5px;
}

input[type=text]:not(.browser-default), 
input[type=text]:not(.browser-default):focus:not([readonly]) {
	border: none;
	background-color: #fbfbfb;
	border-radius: 8px;
	width: 70%;
	box-shadow: 0 10px 35px rgb(0 0 0 / 20%);
	color: var(--secondary);
	padding-left: 10px;
}

input[type=text]:not(.browser-default)+label, 
input[type=text]:not(.browser-default):focus:not([readonly])+label {
	text-align: center;
	color: var(--text-primary);
}

.input-field > label:not(.label-icon).active {
    /* transform: translateY(-14px) scale(0.8);
    transform-origin: 0px 0px; */
    display: none;
}

@media (max-width: 768px) {
    
}

